/* -- CSS RESET --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structual styling--*/

body {
  background: rgb(255,109,0);
  background: linear-gradient(180deg, rgba(255,109,0,1) 16%, rgba(255,235,195,1) 47%);
    color: #333;
    font-family: usual, sans-serif;
font-weight: 400;
font-style: normal;
margin: auto;
}

@media (max-width: 30em) { 
    
}

.light {
    background: rgba(255,235,195,1);
    width:80%;
    max-width: 800px;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);
    margin-bottom: 2rem;
}

section, header {
    width:70%;
    max-width: 900px;
    margin: auto;
    
}

header {
    padding-bottom: 3rem;

}

/* återkom till detta*/

header p {
  padding-top: 2rem;
  left: 200px;
  position: relative;


  
}
.text{
    background:#f7f7f7;
    padding: 2em;
    border-radius: 25px;
}

/*-- styling typography--*/
 blockquote {
    color:#CC7E31;
}


p, blockquote, hr {
    margin-bottom: 0;
    line-height: 1.4;

}
p {
  margin:1rem;

}

h1 {
    font-size: 5.25rem;
    color: #f7f7f7;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 2rem;
    margin: 1em 0 1em 0;
    color: #000000;
    font: weight 200px;

}

hr {
    margin: 2em 0 0 0 
}
blockquote {
    font-size: 1.414rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.648rem;
    margin-top: 4.5rem;

    

}
cite {
    font-size: 0.8em;
    color: #333;
    font-style: normal;

}

header h2 {
    font-size: 2.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #f7f7f7;
    font-family: usual, sans-serif;
    text-align: center;

}

header p {
    font-size: 1.3rem;
    margin-left: 300px;
}

.dark {
    background: #FF6D00;
    color:#f7f7f7;
    padding-bottom: 1vw;
}

.bottom {
  background: #FF6D00;
  color:#f7f7f7;
  padding-top: 1rem;
  padding-bottom: 1rem;
}




/*--  styling links--*/
a {
color: rgb(113, 14, 126);
text-decoration: none;
}
a:hover {
    color:rgb(51, 97, 110);
    border-bottom: 2px dotted;
}

li {
    color: #333;
}

/*--Styling nav--*/

nav {
    top: 0;
    left: 0;
    margin: ;
    background-color: #FFF700;
    padding: 1em 0;
    font-size: 0.85em;}
  
  nav ul {
    padding-right: 2rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;}
    
  
  nav ul li {
    display: inline;
    margin: 20px;
    background: none;}
  
  nav a:link {
    color:#333;
}
  
  nav a:visited {
    color:#333;
}
  
  nav a:hover {
    border-bottom: none;
    color: #333;
    transition: all 0.3s ease-in-out; } 
    
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-right: 850px;
    color: rgb(0, 0, 0);
  }
  .contact a {color: #fc0}
  .about a {color: #f39}
  .contact a:hover {color: #fafafa}
  .about a:hover {color: #fafafa}

footer {
  max-width: 800px;
  margin: auto;
  font-size: 5px;
}

/*--experiment--*/

/*-- Dum knapp--*/

.top {
  position: relative;
  bottom: 6.3rem; 
  right: -30rem; 
  border: none; 
  outline: none; 
  background-color:#FFF700; 
  padding: 1rem; 
  border-radius: 10px; 
  font-size: 15px; 
  width: 90px;
  text-align: center;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.37);
  margin:auto;
  transition: all 0.25s ease-out;


  
  
}

.top:hover{
    color: #FFC730;

}
.top a {
    color: #000000; 
    font-weight:bold;
}

html{
    scroll-behavior: smooth;
}


/*-- Bilder --*/
img {
    display: block;
    margin: 4em 0 0 ;
    max-width: 100%;

}
.wolfgang img{
  border-radius:50%;
  top: -150px;
  left: -250px;
  width: 400px;
  height: 400px;
  

}

.circular1 img{
  border-radius:50%;
  top: -700px;
  right: 200px;

}

.header-img{
  position: relative;
  right: -130px;
  top: 30px;

}
/*-- Table--*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}
caption {
    margin: 1.5em 0;
    text-transform: uppercase;
}
th {
    color: #fdfdfd;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #804F1F;
}

th, td {
    padding: 0.6em
}

table, td {
    background: #ffd78144;
    border: 2px solid #fdfdfd;
}

.gridimage {
display:grid;
grid-gap:10px;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* Rolig knapp som expanderar med grejs*/
.collapsible {
    background-color: #eee;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #ccc;
    
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    
  }

  /* test med ruta längst ner hihihihi*/
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: usual, sans-serif;
    font-size: 1.2rem;
    text-align: center;
  
    padding: 1rem;
  
    color: #000000;
    background: #FFF700;
  
    cursor: pointer;

    border-style:solid;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    max-width: 500px;
    margin: auto;
  }
  
  .lbl-toggle:hover {
    color: #FF6D00;
  }

  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
    margin-bottom: 1rem;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
    background: #f7f7f7;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 1rem;
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;


  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .toggle{
      opacity:0;
  }
  
  .wrap-collabsible {
    position: relative;
    left: -8rem;
    margin:auto;
    top:-3rem;


  }
  .lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.collapsible-content .content-inner {

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.content-inner p {
  color:#333;

}
