/* -- CSS RESET --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- larger bodies on website styling--*/

body {
  background: rgb(255,109,0);
  background: linear-gradient(180deg, rgba(255,109,0,1) 16%, rgba(255,235,195,1) 47%);
    color: #333;
    font-family: usual, sans-serif;
font-weight: 400;
font-style: normal;
margin: auto;
}

.light {
    background: #f7f7f7;
    width:80%;
    max-width: 800px;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);
    margin-bottom: 2rem;
}

section, header {
    width:80%;
    max-width: 900px;
    margin: auto;
    
}

header {
    padding-bottom: 3rem;

}

header p {
  padding-top: 2rem;
  left: 200px;
  position: relative;
 
}
.text{
    background:#f7f7f7;
    padding: 2em;
    border-radius:25px;
    box-shadow: 10px 10px 20px rgba(190, 173, 162, 0.068), -10px 10px 20px rgba(187, 171, 161, 0.068);
}

.dark {
    background: #FF6D00;
    color:#f7f7f7;
    padding-bottom: 1vw;
}

.bottom {
  background: #FF6D00;
  color:#f7f7f7;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  max-width: 800px;
  margin: auto;
  font-size: 10px;
  color:#f1f1f1;
}
/*-- styling typography--*/
 blockquote {
    color:#CC7E31;
    padding-left:60px;
}


p, blockquote, hr {
    margin-bottom: 0;
    line-height: 1.4;

}
p {
  margin:1rem;
  font-size: 17px;

}

h1 {
    font-size: 5.25rem;
    color: #f7f7f7;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 2rem;
    padding:1em;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    text-align:center;
    background:#f7f7f7;
    border-top-right-radius:25px;
    border-top-left-radius: 25px;
    text-decoration: underline;
    

}

h3 {
  font-weight:bold;
}

h4 {
  color:black;
  font-size:20px;
  padding:10px;
}

h5 {
  color:black;
  font-size:20px;
  padding:10px;


}

hr {
    margin: 2em 0 0 0;
    margin-bottom: 70px;
    margin-top: 70px;

}
blockquote {
    font-size: 1.4rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.49rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width:80%;

}

cite {
    font-size: 0.8em;
    color: #333;
    font-style: normal;
    text-align: right;

}

header h2 {
    font-size: 2.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #f7f7f7;
    font-family: usual, sans-serif;
    text-align: center;

}

header p {
    font-size: 1.3rem;
    margin-left: 300px;
}


/*--  styling links--*/
a {
color: #333;
text-decoration: none;
}


a:hover {
  color:#FFF700;
  text-decoration:underline;
  transition: all 0.3s ease-in-out; 
}

.personal {
  text-align: center;
}





/*-- Button that takes you to the top--*/

.top {
  position: relative;
  bottom: 6.3rem; 
  right: -30rem; 
  border: none; 
  outline: none; 
  background-color:#FFF700; 
  padding: 1rem; 
  border-radius: 15px; 
  font-size: 15px; 
  width: 90px;
  text-align: center;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.932);
  margin:auto;
  cursor: pointer;


  
  
}

.top:hover{
    transition: all 0.3s ease-in-out;
    border-color:#FF6D00;
    color:#FF6D00
}
.top a {
    color: #000000; 
    font-weight:bold;
}
.top a:hover {
  color: #FF6D00; 
  transition: all 0.3s ease-in-out;
}

html{
    scroll-behavior: smooth;
}


/*-- Bilder --*/
img {
    display: block;
    margin: 4em 0 0 ;
    max-width: 100%;
    

}
.wolfgang img{
  border-radius:50%;
  top: -150px;
  left: -200px;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);

}

.young img{
  border-radius:50%;
  top: -2200px;
  right: -750px;
  height:300px;
  width: 300px;
  box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);
}

.young2 img{
  border-radius:50%;
  top: 400px;
  right: 270px;
  height:300px;
  width: 300px;
  box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);
}

.round img{
  border-radius:50%;
  top: 200px;
  right: -750px;
  height:300px;
  width: 300px;
  box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);
}

.circular3 img{
  border-radius:50%;
  top: -500px;
  right: 370px;
  height:300px;
  width: 300px;
  box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);
}

.lines img{
  border-radius:50%;
  top: -500px;
  right: -680px;
  height:300px;
  width: 300px;
  box-shadow: 10px 10px 20px rgba(138, 110, 94, 0.075), -10px 10px 20px rgba(138, 110, 94, 0.075);
}

.header-img{
  position: relative;
  right: -130px;
  top: 30px;

}

.gridimage {
  display:grid;
  grid-gap:5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

/*-- funky button that shows source of my research--*/

.collapsible {
    background-color: #eee;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #ccc;
    
  }

  .content {
    padding: 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    
  }

  .lbl-toggle {
    display: block;
    font-family: usual, sans-serif;
    font-size: 1rem;
    text-align: center;
  
    padding: 1rem;
  
    color: #000000;
    background: #FFF700;
  
    cursor: pointer;

    border-style:solid;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    max-width: 800px;
    margin: auto;
  }
  
  .lbl-toggle:hover {
    color: #FF6D00;
  }

  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    font-size: 13px;
  
    transition: max-height .25s ease-in-out;
    margin-bottom: 1rem;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
    background: #f7f7f7;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    margin-bottom: 1rem;


  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .toggle{
      opacity:0;
  }
  
  .wrap-collabsible {
    align-items:center;
    margin:auto;
    top:-4rem;
    position:relative;


  }
  .lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.collapsible-content .content-inner {

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.content-inner p {
  color:#333;
  font-size:15px;

}



/*--menu that expands while hovering--*/

#menu #list {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

#menu:hover #list {
  max-height: 500px;
  transition: max-height 0.30s ease-in;
  width: 300px;
}

.knapp {
  top: 0;
  left: 0;
  margin: 0;
  background-color: #FFF700;
  font-size: 0.85em;
  font-size: 20px;
  padding:0 20px 5px 20px;


}

.top-font {
  font-size: 30px;
  left:-20rem;
  position: relative;
  left:3rem;
  top:1em;
  font-weight:bold;
}

.top-font a:hover {
  color:black;
  text-decoration:none;
  cursor:default;
  

}

li {
  padding:1rem 0 1rem 2rem;


}

.title      {
  text-align: right;
  font-size: 30px;


}

.title:hover {
  cursor:default;
}

li a:hover {
  border-bottom: none;
  color: #FF6D00;
  transition: all 0.3s ease-in-out; 
  text-decoration:underline;

}

.arrow-down {
  position:relative;
 top:-32px;
 left:20px;

}

/* That was all, Thank you ( : */